@import "./global/width";

// header
header {
  padding: 70px 0;
  border-bottom: 2px dashed gray;
  .title {
    @include mini-mobile {
      .title-en {
        color: yellow;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
      }
      .title-ja {
        margin: 10px 0;
        text-align: center;
        font-size: 0.8rem;
        color: yellow;
      }
    }
    @include mobile {
      .title-en {
        color: yellow;
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
      }
      .title-ja {
        margin: 10px 0;
        text-align: center;
        font-size: 1rem;
        color: yellow;
      }
    }
    @include tablet {
      .title-en {
        color: yellow;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
      }
      .title-ja {
        margin: 10px 0;
        text-align: center;
        font-size: 1.2rem;
        color: yellow;
      }
    }
    @include laptop {
      .title-en {
        color: yellow;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
      }
      .title-ja {
        margin: 10px 0;
        text-align: center;
        font-size: 1.5rem;
        color: yellow;
      }
    }
  }
}

// footer
footer {
  padding: 5px 0;
  border-top: 2px dashed gray;
  .github {
    width: 5%;
    font-size: 20pt;
    margin: 10px auto;
    text-align: center;
    a {
      text-decoration: none;
      color: gray;
      &:hover {
        color: rgb(230, 170, 115);
      }
    }
  }
  .copyright {
    color: gray;
    text-align: center;
    margin: 0 0 10px;
  }
}
