@import "./global/_width.scss";

.myskill {
  padding: 30px 0;
  .title {
    padding: 20px 0;
    text-align: center;
    color: yellow;
    @include mini-mobile {
      .en {
        color: yellow;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
      }
      .ja {
        margin: 10px 0;
        text-align: center;
        font-size: 0.8rem;
        color: yellow;
      }
    }
    @include mobile {
      .en {
        color: yellow;
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
      }
      .ja {
        margin: 10px 0;
        text-align: center;
        font-size: 1rem;
        color: yellow;
      }
    }
    @include tablet {
      .en {
        color: yellow;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
      }
      .ja {
        margin: 10px 0;
        text-align: center;
        font-size: 1.2rem;
        color: yellow;
      }
    }
    @include laptop {
      .en {
        color: yellow;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
      }
      .ja {
        margin: 10px 0;
        text-align: center;
        font-size: 1.5rem;
        color: yellow;
      }
    }
  }
  .skills {
    width: 80%;
    margin: 40px 10%;
    border: 1px solid gray;
    box-sizing: border-box;
    @include mini-mobile {
      .icon {
        display: inline-block;
        width: 90%;
        height: 200px;
        margin: 20px 5%;
        text-align: center;
        border: 1px solid gray;
        box-sizing: border-box;
        .C {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #a9b9cb;
        }
        .C_sharp {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #a179dc;
        }
        .CSS3 {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #264de4;
        }
        .HTML5 {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #e44d31;
        }
        .Javascript {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #f7df31;
        }
        .React {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #61d9fb;
        }
        .PHP {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #6181b6;
        }
        .Laravel {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #e93f33;
        }
        .Ruby {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #d64c37;
        }
        .Rails {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #ce362c;
        }
        img {
          position: relative;
          bottom: 10px;
          margin: 0 auto;
          width: 120px;
          height: 120px;
          line-height: 120px;
          &:hover {
            transform: scale(1.1); /*画像の拡大率*/
            transition-duration: 0.3s; /*変化に掛かる時間*/
          }
        }
      }
    }
    @include mobile {
      .icon {
        display: inline-block;
        width: 45%;
        height: 200px;
        margin: 20px 2.5%;
        text-align: center;
        border: 1px solid gray;
        box-sizing: border-box;
        .C {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #a9b9cb;
        }
        .C_sharp {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #a179dc;
        }
        .CSS3 {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #264de4;
        }
        .HTML5 {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #e44d31;
        }
        .Javascript {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #f7df31;
        }
        .React {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #61d9fb;
        }
        .PHP {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #6181b6;
        }
        .Laravel {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #e93f33;
        }
        .Ruby {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #d64c37;
        }
        .Rails {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #ce362c;
        }
        img {
          position: relative;
          bottom: 10px;
          margin: 0 auto;
          width: 120px;
          height: 120px;
          line-height: 120px;
          &:hover {
            transform: scale(1.1); /*画像の拡大率*/
            transition-duration: 0.3s; /*変化に掛かる時間*/
          }
        }
      }
    }
    @include tablet {
      .icon {
        display: inline-block;
        width: 30%;
        height: 200px;
        margin: 20px 1.66666667%;
        text-align: center;
        border: 1px solid gray;
        box-sizing: border-box;
        .C {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #a9b9cb;
        }
        .C_sharp {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #a179dc;
        }
        .CSS3 {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #264de4;
        }
        .HTML5 {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #e44d31;
        }
        .Javascript {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #f7df31;
        }
        .React {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #61d9fb;
        }
        .PHP {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #6181b6;
        }
        .Laravel {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #e93f33;
        }
        .Ruby {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #d64c37;
        }
        .Rails {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #ce362c;
        }
        img {
          position: relative;
          bottom: 10px;
          margin: 0 auto;
          width: 120px;
          height: 120px;
          line-height: 120px;
          &:hover {
            transform: scale(1.1); /*画像の拡大率*/
            transition-duration: 0.3s; /*変化に掛かる時間*/
          }
        }
      }
    }
    @include laptop {
      .icon {
        display: inline-block;
        width: 20%;
        height: 200px;
        margin: 20px 2.5%;
        text-align: center;
        border: 1px solid gray;
        box-sizing: border-box;
        .C {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #a9b9cb;
        }
        .C_sharp {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #a179dc;
        }
        .CSS3 {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #264de4;
        }
        .HTML5 {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #e44d31;
        }
        .Javascript {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #f7df31;
        }
        .React {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #61d9fb;
        }
        .PHP {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #6181b6;
        }
        .Laravel {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #e93f33;
        }
        .Ruby {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #d64c37;
        }
        .Rails {
          line-height: 40px;
          height: 40px;
          text-align: center;
          position: relative;
          bottom: 20px;
          font-size: 18pt;
          font-weight: bold;
          z-index: 2;
          background-color: rgb(32, 31, 31);
          width: 90%;
          margin: 0 5%;
          color: #ce362c;
        }
        img {
          position: relative;
          bottom: 10px;
          margin: 0 auto;
          width: 120px;
          height: 120px;
          line-height: 120px;
          &:hover {
            transform: scale(1.1); /*画像の拡大率*/
            transition-duration: 0.3s; /*変化に掛かる時間*/
          }
        }
      }
    }
  }
}
